/*login form get center*/
.vertical{
    padding-top: 150px;
    padding-bottom: 150px;
    
}

/*body{
    background:url(../../assets/images/loginbak.jpg) no-repeat center center fixed;
    
    
}*/
body{
    
    background:url(../../assets/images/loginback.jpg) no-repeat  center fixed;
    
}

